@using LiWiMus.Web.Shared
@using Microsoft.AspNetCore.Mvc.TagHelpers
@using Microsoft.Extensions.Options
@model IEnumerable<LiWiMus.Web.MVC.ViewModels.ForListViewModels.UserForListViewModel>
@inject IOptions<PullUrls> Urls

<div class="users">
    @foreach (var user in Model)
    {
        <a asp-area="User" asp-controller="Profile" asp-action="Index" asp-route-username="@user.UserName">

            <div class="user-container search-item">
                <div class="user-image-container">
                    @if (user.AvatarLocation != null)
                    {
                        var src = Urls.Value.FileServer + user.AvatarLocation;
                        
                        <img class="user-image" src="@src" alt="User avatar."/>
                    }
                    else
                    {
                        <img class="user-image" src="~/images/avatar-placeholder.jpg" alt="User avatar."/>
                    }
                </div>
                <div class="user-information">
                    <p class="user-name">@user.UserName</p>
                </div>
            </div>
        </a>
    }
</div>