* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  color: white;
}

*::-webkit-scrollbar {
  width: 0;
  height: 0;
}

div::-webkit-scrollbar {
  width: 10px;
}

div::-webkit-scrollbar-track {
  -webkit-box-shadow: 5px 5px 5px -5px rgba(34, 60, 80, 0.2) inset;
  background-color: #f9f9fd;
  border-radius: 10px;
}

div::-webkit-scrollbar-thumb {
  border-radius: 10px;
  background: linear-gradient(180deg, #020D45, #C3FFFB);
}

.App {
  height: 100%;
  background-color: aqua;

  background-image: url('./images/wallpaperflare.com_wallpaper.jpg');
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;

  display: flex;
  justify-content: center;

  padding: 0 2rem 2rem;
}

.forum-header {
  font-style: normal;
  font-weight: 300;
  font-size: 42px;
  line-height: 48px;
  text-align: center;
  color: white;
  margin-bottom: 3rem;
}

.message-area-container {
  margin: 0 auto;

  border: 1px solid #ffffff;
  padding: 2rem;

  width: 650px;
  min-height: 450px;
  max-height: 450px;

  background: rgba(217, 217, 217, 0.09);
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);

  border-radius: 10px;

  display: flex;
  flex-direction: column;
  overflow-y: auto;
}

.message-area-container-border {
  border: 3px solid #ffffff;
  filter: blur(15px);
  border-radius: 10px;
}

.custom-text-area-form {
  width: 470px;
  min-height: 91px;

  margin: 2rem auto 0;

  background: linear-gradient(180deg, rgba(120, 255, 158, 0.1) 39.88%, rgba(0, 0, 0, 0) 100%), rgba(217, 217, 217, 0.4);
  box-shadow: 0px 2px 1px rgba(0, 0, 0, 0.55);
  backdrop-filter: blur(2px);
  border-radius: 5px;

  display: flex;
  gap: 1rem;
}

.custom-text-area {
  max-width: 100%;
  max-height: 100%;
  min-width: 100%;
  min-height: 100%;
  background: none;
  border-radius: 5px;
  padding: 5px;
}

.custom-text-area:hover {
  cursor: pointer;
}

.custom-text-area:focus-visible {
  background: #838d8c;
  border-radius: 5px;
  outline: none;
}

.chat-container {
  display: flex;
  flex-direction: column;
  background: linear-gradient(180.55deg, rgba(2, 13, 69, 0.48) 5.92%, rgba(217, 217, 217, 0) 99.54%);
  padding: 3rem;
}

.message-box-container {
  display: flex;
  border-bottom: 2px solid #C3FFFB;

  background: rgba(255, 255, 255, 0.4);
  backdrop-filter: blur(2px);
  border-radius: 5px;

  width: 90%;
  margin: 1rem auto 0;
}

.message-box-container:hover {
  cursor: pointer;
}

.message-box-text-container {
  width: 100%;
  max-height: 150px;
  overflow: hidden;
}

.message-box-text {
  padding: 5px;
  width: 100%;
  max-height: 150px;
  overflow: auto;
  word-wrap: break-word;
}

.message-box-user-name {
  border-bottom: 2px solid #C3FFFB;
  width: fit-content;
  padding-left: 5px;
  padding-right: 5px;
}

.message-box-text::-webkit-scrollbar {
  width: 0;
}

.message-box-image {
  border-bottom: 4px solid #C3FFFB;
}

.send-button {
  margin-top: 1rem;
  padding: 5px 10px;
  color: white;
  background: transparent;
  font-size: 14px;
  border-color: white;
  cursor: pointer;
}

.alert {
  margin: 2rem auto 0;
  width: fit-content;
  transition: box-shadow 300ms cubic-bezier(0.4, 0, 0.2, 1) 0ms;
  border-radius: 4px;
  border: 1px solid #ffffff;
  box-shadow: none;
  font-family: Roboto, Helvetica, Arial, sans-serif;
  font-weight: 400;
  font-size: 0.875rem;
  line-height: 1.43;
  letter-spacing: 0.01071em;
  background: none;
  display: flex;
  padding: 6px 16px;
}

.hidden {
  opacity: 0;
  height: 0;
  width: 0;
  line-height: 0;
  overflow: hidden;
  padding: 0;
  margin: 0;
}

.upload-file-area {
  margin-top: 2rem;
  display: flex;
  justify-content: start;
}

.file-name-container {
  margin-left: 1rem;
  margin-right: 1rem;
}

.download-file-container {
  display: flex;
  flex-direction: row;
  margin: 10px;
  color: aqua!important;
}

.file-icon {
  margin-right: 5px;
}