* {
  margin: 1rem 0;
  padding: 0;
  box-sizing: border-box;
}

#root {
  display: flex;
  justify-content: center;
}

.App {
  width: 800px;
  background-color: aqua;
  height: 80vh;
}

.message-area-container {
  border: 2px solid red;
  margin: 1rem;
}