@{
    Layout = "_Layout";
}
@await RenderSectionAsync("Header", false)
@if (!IsSectionDefined("Header"))
{
    <partial name="Partials/_DefaultHeaderPartial"/>
}
<div class="container-fluid" style="padding: 0; margin: 0;">
    <main role="main">
        <div class="user-sidebar" style="background-color: #212529; position: relative;">
            <partial name="Partials/_LoginSidebarPartial"/>
        </div>
        @RenderBody()
    </main>
</div>

@section Scripts
{
    @await RenderSectionAsync("Scripts", false)
}