@{
    Layout = "_Layout";
}
@await RenderSectionAsync("Header", false)
@if (!IsSectionDefined("Header"))
{
    <partial name="Partials/_DefaultHeaderPartial"/>
}
<div class="container-fluid" style="padding: 0; margin: 0;">
    <main role="main">
        @RenderBody()
    </main>
</div>
@*<footer class="border-top footer text-muted">
    <div class="container">
        &copy; 2022 - LiWiMus.Web.MVC - <a asp-area="" asp-controller="Home" asp-action="Privacy">Privacy</a>
    </div>
</footer>*@

@await RenderSectionAsync("Scripts", false)