@model LiWiMus.Web.MVC.Areas.User.ViewModels.ChangePasswordViewModel

@{
    ViewBag.Title = "title";
    Layout = "_LayoutSidebar";
}

<div class="change-password-container">
    <section>
        <div class="change-password-outline row justify-content-center">
            <div class="change-password-form-container">
                <h3 class="mb-4" style="padding-bottom: 4%; border-bottom: 2px solid #EF6817">Change Password</h3>
                <form class="change-password-form" asp-area="User" asp-controller="Profile" asp-action="ChangePassword" method="post">
                    <div class="label-input">
                        <label asp-for="OldPassword">Old password</label>
                        <span asp-validation-for="OldPassword"></span>
                        <input asp-for="OldPassword" class="edit-profile-input"/>
                    </div>

                    <div class="label-input">
                        <label asp-for="NewPassword">New password</label>
                        <span asp-validation-for="OldPassword"></span>
                        <input asp-for="NewPassword" class="edit-profile-input"/>
                    </div>
                    <div asp-validation-summary="All" class="text-danger"></div>
                    <input class="save-password-button" type="submit" value="Save"/>
                </form>
            </div>
        </div>
    </section>
</div>