<header style="background-color: #444444;">
    <nav class="navbar navbar-expand-sm navbar-toggleable-sm justify-content-center">
        <div class="container-fluid">
            <ul class="navbar-nav justify-content-center">
                <li class="nav-item">
                    <a class="navbar-brand text-white" asp-area="" asp-controller="Home" asp-action="Index">LiWiMus</a>
                </li>
            </ul>
        </div>
    </nav>
</header>