@{
    ViewData["Title"] = "Error";
}

<div class="container text-center text-white">
    <h1>Exception</h1>
    <p>You have broken the site. Go back to the work page and don't do it again!</p>
</div>