@model LiWiMus.Web.MVC.Areas.User.ViewModels.ResetPasswordViewModel

<section>
    <form asp-area="User" asp-controller="Account" asp-action="ResetPasswordCallback">
        <div>
            <label asp-for="Password"></label>
            <input asp-for="Password">
            <span asp-validation-for="Password"></span>
        </div>

        <input asp-for="UserId" type="hidden" value="@Model.UserId">
        <input asp-for="Token" type="hidden" value="@Model.Token">

        <button id="btn-reset-password">Reset</button>
    </form>
</section>